#main-paragraph img{
	height: 13em;
	width: 10em;
}

#main-portfolio img{
	height: 100%;
	width: 100%;
}

#main-portfolio .row{
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}

.center{
	display:table-cell;
	vertical-align: middle;
}
#main-panel{
	border-radius: 25px;
}

.panel-heading{
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.page-header{
	background-color: whitesmoke;
	margin-top: 0px;
}

.nav-wrapper{
	margin-bottom: 0px;
}

#sidebar{
	border-radius: 25px;
	margin-top: 3em;
}

.panel-body img{
	width: 64px;
	height: 64px;
}

#sidebar{
	width: 17em;
	height: 15vh;
}

#footer{
	width: 100%;
	height: 50px;

	position: fixed;
	bottom: 0;

	text-align: center;

	background-color: #666666;

	border-top: outset 5px #cccccc;

	padding-top: 10px;

}

#footer .footer-copyright .container-fluid p{
	color: #cccccc;
}


@media only screen and (max-width: 700px){
	[class*="col-"]{
		width: 100%;
	}
	
	#footer{
		position: fixed;
	}
}

#message{
	height: 8em;
	width: 25em;
}

.contact{
	margin-top: 20px;
}

.textboxes{
	width: 25em;
}